<!DOCTYPE html>
<html lang="en">
<head>
    <title>TEST-FORM</title>
</head>
<body>
    <div align='center'>
        {% for q in survey %}
            <h1>{{q.survey_title}} | <a = href="{% url 'edit_survey' q.id %}" role="button">EDIT</a></h1>
            <form action="" method="post">{% csrf_token %}
            {% for m in field %}
                {% if m.survey_id == q.id%}
                    <table>
                        <tr>
                            <td>{{m.question_text}}:</td>
                            <td><input type="text" name="" id=""> | </td>
                            <td><a = href="{% url 'edit_field' m.id %}" role="button">EDIT</a></h1></td>
                        </tr>
                    </table>
                {% endif %}
            {% endfor%}
            </form> 
            ------------------------------------------------------------------------------------------------- 
        {% endfor %}
    </div>
</body>
</html>